$cBase: #171717;

body {
  margin: 15px;
  padding: 0;
  background-color: $cBase;
}

.grid {
  position: relative;
  width: 100%;
}
.item {
  display: block;
  position: absolute;
  width: calc(((100% - 30px) - 60px) / 3);
  margin: 0px;
  padding: 15px;
  z-index: 1;
  background: $cBase;
  color: #fff;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

@media screen and (max-width: 1000px) {
  .item {
    width: calc(((100% - 30px) - 30px) / 2);
  }
}

@media screen and (max-width: 600px) {
  .item {
    width: calc(100% - 30px);
  }
}
